:root{
  --grid-width: 20;
  --grid-height: 35;
  --cell-size: calc(95vh / var(--grid-height));
}

#grid{
  width: calc(var(--grid-width) * var(--cell-size) + 4px);
  height: calc(var(--grid-height) * var(--cell-size) + 4px);

  border: 2px solid white;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell{
  width: var(--cell-size);
  height: var(--cell-size);

  border: 1px solid black;
  font-size: 6px;
  text-align: center;
  line-height: var(--cell-size);
  cursor: pointer;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pointer-none{
  pointer-events: none;
  background-color: #6666ec;
  font-size: 10px;
}

.flag{
  background-image: url('img/flag.png');
}


/* 0 */
.empty{
  font-size: 0;
}
/* 1 */
.white{
  color: white;
}
/* 2 */
.green{
  color: darkgreen;
}
/* 3 */
.red{
  color: red;
}
/* 4 */
.darkblue{
  color: darkblue
}
/* 5 */
.darkred{
  color: darkred;
}
/* 6 */
.pink{
  color: pink
}
/* 7 */
.black{
  color: black;
}
/* 8 */
.yellow{
  color: yellow;
}




.yellow{
  color: yellow;
}

.black{
  color: black;
}

.end-game{
  background-color: red;
}

.alien{
  background-image: url('img/alien.png')
}