:root{
    --cell-size: 40px;
    --grid-width: 15;
    --grid-height: 15;
}

#grid{
    width: calc(var(--cell-size) * var(--grid-width));
    height: calc(var(--cell-size) * var(--grid-height));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid white;
    font-size: 8px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spaceship{
    background-image: url('img/spaceship.png');
}

.alien{
    background-image: url('img/alien.png');
}

.boom{
    background-image: url('img/boom.png');
}

.laser{
    background-image: url('img/laser.png');
}