:root{
    --cell-size: 6vh;
    --grid-width: 21;
    --grid-height: 15;
}

#grid{
    width: calc(var(--cell-size) * var(--grid-width) + 4px);
    height: calc(var(--cell-size) * var(--grid-height) + 4px);

    border: 2px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid white;
    font-size: 8px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.boom{
    background-image: url('img/boom.png');
}

.laser-green{
    background-image: url('img/laser-green.png');
}

.laser-red{
    background-image: url('img/laser.png');
}

.white-spaceship{
    background-image: url('img/spaceship.png');
}

.red-spaceship{
    background-image: url('img/spaceship-red.png')
}